<% if params[:action] == 'search' %>
    <div class="results-block">
        <%= bootstrap_flash %>
    </div>
<% end %>

<% if @user_item %>
    <div class="well flex results-block" >
        <strong>Symbol:</strong> <%= @user_item.full_name %> 
        <strong> Name:</strong> <%= @user_item.email %> 
        <strong> Price:</strong> Actions
        <% if current_user.can_add_stocks?(@stock_item.ticker) %>
            <%= link_to "Add to stocks", user_stocks_path(user:current_user, ticker:@stock_item.ticker), method: :post, 
                        class:"btn btn-sm btn-success", style:"justify-content-flex-end" %>
        <% else %>
        <span class="label label-default">
            <% if current_user.stock_already_added?(@stock_item.ticker) %>
                ALREADY ADDED
            <% end %>
            <% if !current_user.under_stock_limit? %>
                YOU ALREADY TRACK 10 STOCKS
            <%end %>
                            
        <% end %>
    </div>
<% end %>